<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ContactUs</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">Port<span>folio</span></div>
      <div class="menu">
        <ul id="list">
          <a href="../../index.html"><li>Home</li></a>
          <a href="../about/index.html"><li>About</li></a>
          <a href="../resume/index.html"><li>Resume</li></a>
          <a href="../services/index.html"><li>Services</li></a>
          <a href="./index.html"><li>Contact Us</li></a>
        </ul>
      </div>
    </div>
    <div class="contus">
      <div class="content">
        <div class="right_content">
          <form action="">
            <p>Name</p>
            <input class="name" type="text" placeholder="" /> <br />
            <br />
            <p>Email</p>
            <input type="email" name="email" id="email" /><br />
            <br />
            <p>Phone Number</p>
            <input type="number" name="phone" id="phone" /> <br />
            <br />
            <p>Message</p>
            <textarea name="" id="message" cols="38" rows="5"></textarea> <br />
            <br />
            <button>Submit</button>
          </form>
        </div>
        <div class="left_content">
          <div class="information">
            <h2>Contact <span style="color: rgb(17, 133, 133)">Us</span></h2>
            <br />
            <br />
            <p>
              For Question,Technical assistance <br />or collaboration
              opportunities via the contact <br />information provided
            </p>
            <br />
            <br />
            <br />
            <ion-icon name="call"></ion-icon><span> +91 9102795481</span> <br />
            <br />
            <ion-icon name="mail"></ion-icon>
            <span> shivam9102795481@gmail.com</span> <br />
            <br />
            <ion-icon name="location"></ion-icon>
            <span>SIT Sitamarhi,Dumra,Sitamarhi,Bihar</span> <br />
            <br />
            <br />
            <br />
            <div class="icon">
              <a href="https://www.facebook.com/profile.php?id=100015170688574"
                ><ion-icon name="logo-facebook"></ion-icon
              ></a>
              <a href="https://www.instagram.com/__its__yaduvanshi_____123/"
                ><ion-icon name="logo-instagram"></ion-icon
              ></a>
              <a href="https://twitter.com/SHIVAMKUMA90646"
                ><ion-icon name="logo-twitter"></ion-icon
              ></a>
              <a href="https://github.com/shivamkryadu"
                ><ion-icon name="logo-github"></ion-icon
              ></a>
              <a
                href="https://www.linkedin.com/in/shivam-kumar-bba5642a3?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BM3Yb9ZjpRTq9oaU3Py352A%3D%3D"
                ><ion-icon name="logo-linkedin"></ion-icon
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="left_footer">
        <p>
          Get to Know About Us <br />shivam Kumar <br />
          from bidupur vaishali <br />Bihar <br />
          Pin code-844503
        </p>
      </div>
      <div class="middle_footer">
        <p>
          Copyright © 2024 <br />Shivam Portfolio. <br />

          All Rights Reserved.
        </p>
      </div>
      <div class="right_footer">
        <p>
          Company Address : <br />Sitamarhi Institute of Technology,<br />
          Gosayapur,Dumra,Sitamarhi <br />Bihar <br />
          Pin code - 833502
        </p>
      </div>
      <div class="corner">
        <p>
          Contact Us on: <br />
          Gmail Id : sk9343821@gmail.com <br />Contact no : 9102795481 <br />
        </p>
      </div>
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/profile.php?id=100015170688574"
        ><ion-icon name="logo-facebook"></ion-icon
      ></a>
      <a href="https://www.instagram.com/__its__yaduvanshi_____123/"
        ><ion-icon name="logo-instagram"></ion-icon
      ></a>
      <a href="https://twitter.com/SHIVAMKUMA90646"
        ><ion-icon name="logo-twitter"></ion-icon
      ></a>
      <a href="https://github.com/shivamkryadu"
        ><ion-icon name="logo-github"></ion-icon
      ></a>
      <a
        href="https://www.linkedin.com/in/shivam-kumar-bba5642a3?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BM3Yb9ZjpRTq9oaU3Py352A%3D%3D"
        ><ion-icon name="logo-linkedin"></ion-icon
      ></a>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  </body>
</html>
