<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">Port<span>folio</span></div>
      <div class="menu">
        <ul id="list">
          <a href="../../index.html"><li>Home</li></a>
          <a href="../about/index.html"><li>About</li></a>
          <a href="./index.html"><li>Resume</li></a>
          <a href="../services/index.html"><li>Services</li></a>
          <a href="../contact us/index.html"><li>Contact Us</li></a>
        </ul>
      </div>
    </div>
    <div class="resume">
      <div class="resume_section">
        <div class="colmn1">
          <div id="profile_section">
            <img src="../../image/shivamedit.jpg" alt="Profile" />
          </div>
          <div id="contact_section">
            <h1>Contact Us</h1>
            <hr />
            <br />
            <p>
              Phone No: <br />+91 9102795481 <br />
              <br />
              Gmail Id: <br />
              shivam9102795481@gmail.com <br />
              <br />
              Address: <br />
              Mathura, Bidupur ,vaishali <br />
              Bihar <br />
              Pin code: 844503
            </p>
          </div>
          <div id="education_section">
            <h1>Education</h1>
            <hr />
            <br />
            <p>
              Bachelor of Technology in <br />Electrical Engineering <br />
              Sitamarhi Institute of Technology,2027 <br />
              <br />
              Higher Secondary Education<br />
              Apra International School,2022 <br />
              <br />
              Secondary Education<br />
              Vaishali Central Public School,2020
            </p>
          </div>
          <div id="skill_section">
            <h1>Skills</h1>
            <hr />
            <br />
            <ul>
              <li>HTML</li>
              <br />
              <li>CSS</li>
              <br />
              <li>JavaScript</li>
              <br />
              <li>C# language</li>
              <br />
              <li>MS Excel Expert</li>
            </ul>
          </div>
          <div id="lang_section">
            <h1>Language</h1>
            <hr />
            <br />
            <ul>
              <li>Hindi</li>
              <br />
              <li>English</li>
              <br />
              <li>Bajika</li>
            </ul>
          </div>
        </div>
        <div class="colmn2">
          <div class="upper_section">
            <h1>Shivam Kumar</h1>
            <h2>Frontend Web Developer</h2>
            <p>
              <br />
              <br />
              As a frontend developer, I am passionate about embracing new
              technologies and continuously enhancing his skill set. With a keen
              interest in athletics and cricket, he balances his professional
              pursuits with active hobbies, reflecting a dynamic and
              well-rounded personal profile. His dedication to both his career
              and personal interests exemplifies a commitment to growth and
              excellence.
            </p>
          </div>
          <div class="middle_section">
            <h1>Experience</h1>
            <hr />
            <br />
            <br />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
              tenetur sequi molestias illum in facilis voluptatem libero
              quibusdam obcaecati. Porro pariatur minima autem optio totam qui
              cum iure et omnis?
            </p>
            <br />
            <br />
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
              iusto corrupti beatae optio aut laboriosam, nulla reiciendis
              accusantium explicabo ducimus. Quis quae incidunt tempore placeat
              nihil doloremque accusantium perspiciatis sint.
            </p>
            <br />
            <br />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
              ratione ipsa quidem esse incidunt nemo sit assumenda tempora
              quibusdam praesentium, expedita cupiditate dignissimos quod quasi,
              iusto rem ullam nihil nam!
            </p>
          </div>
          <div class="lower_section">
            <h1>certification</h1>
            <hr />
            <br />
            <br />
            <li>
              TCS iON Career Edge - Young Professional , TCS iON - End Date:
              Mehul Mehta Global Delivery Head - TCS iON, Tata Consultancy
              Services 11 Mar 2024
            </li>
            <br />
            <li>
              Master Data Management for Beginners , TCS iON - End Date: Mehul
              Mehta Global Delivery Head - TCS iON, Tata Consultancy Services 19
              Mar 2024
            </li>
            <br />
            <li>AI Tool Workshop , be10X - 1 day worshop program -</li>
            <br />
            <li>
              Cybersecurity Analyst Job Simulation , TATA - Certificate of
              Completion March 30th, 2024
            </li>
            <br />
            <li>Front End Development-HTM , Great Learning - feb 2024</li>
            <br />
            <li>Front End Development-CSS , Great Learning - feb 2024</li>
            <br />
            <li>
              Learn JavaScript And JQuary from Scrach , Upskill with Eduonix -
              march 2024
            </li>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="left_footer">
        <p>
          Get to Know About Us <br />shivam Kumar <br />
          from bidupur vaishali <br />Bihar <br />
          Pin code-844503
        </p>
      </div>
      <div class="middle_footer">
        <p>
          Copyright © 2024 <br />Shivam Portfolio. <br />

          All Rights Reserved.
        </p>
      </div>
      <div class="right_footer">
        <p>
          Company Address : <br />Sitamarhi Institute of Technology,<br />
          Gosayapur,Dumra,Sitamarhi <br />Bihar <br />
          Pin code - 833502
        </p>
      </div>
      <div class="corner">
        <p>
          Contact Us on: <br />
          Gmail Id : sk9343821@gmail.com <br />Contact no : 9102795481 <br />
        </p>
      </div>
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/profile.php?id=100015170688574"
        ><ion-icon name="logo-facebook"></ion-icon
      ></a>
      <a href="https://www.instagram.com/__its__yaduvanshi_____123/"
        ><ion-icon name="logo-instagram"></ion-icon
      ></a>
      <a href="https://twitter.com/SHIVAMKUMA90646"
        ><ion-icon name="logo-twitter"></ion-icon
      ></a>
      <a href="https://github.com/shivamkryadu"
        ><ion-icon name="logo-github"></ion-icon
      ></a>
      <a
        href="https://www.linkedin.com/in/shivam-kumar-bba5642a3?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BM3Yb9ZjpRTq9oaU3Py352A%3D%3D"
        ><ion-icon name="logo-linkedin"></ion-icon
      ></a>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  </body>
</html>
